/*! Simple HttpErrorPages | MIT X11 License | https://github.com/AndiDittrich/HttpErrorPages */
body,
html {
  width: 100%;
  height: 100%;
  background-color: #21232a;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8);
  display: table;
  font-family: "Open Sans", Arial, sans-serif;
}
h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 36px;
}
h1 small {
  font-size: 68%;
  font-weight: 400;
  line-height: 1;
  color: #777;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: inherit;
  border-bottom: dotted 1px #707070;
}
.lead {
  color: silver;
  font-size: 21px;
  line-height: 1.4;
}
.cover {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
footer {
  position: fixed;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  color: #a0a0a0;
  font-size: 14px;
}

/* sferry.co custom styles */
footer {
  font-size: 68%;
  height: 60px;
}
.copyright {
  margin-bottom: 7px;
}
.footer-nav {
  list-style: none;
  padding-left: 0;
  font-size: 0;
}
.footer-nav li {
  display: inline;
  font-size: 10px;
  padding: 0px 10px 0px 10px;
}
.footer-nav li a {
  color: inherit;
}
.footer-nav li a:hover {
  color: #CCC;
}
.footer-nav .separator {
  font-size: 10px;
}
.footer-nav li.first {
  padding: 0px 10px 0px 0px;
}
.footer-nav li.last {
  padding: 0px 0px 0px 10px;
}